{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Appointment{% endblock%}
{% block pageHead %}Request Appointment{% endblock %}
{% block content %}

{% if request.user.is_authenticated %}
<p>{{ request.user.first_name }} you are logged in.</p>
{% if request.user.is_staff == True %}
<p>You are a doctor.</p>

{% else %}
<p>You are NOT a doctor.</p>
<form method="POST" class="form-group">
    {% csrf_token %}
    
    {{form|crispy}}
    <button type="submit"   class="btn btn-success">Enter</button>
</form>



{% endif%}
{% else %}
<p>{{msg}}</p>

<p>User is not logged in.</p>
<p>Don't have an account? Create account <a href="/register">here</a></p>
{% endif %}


{% endblock %}