{% extends 'main/base.html' %}

{% block title %}View Appoinments{% endblock%}
{% block pageHead %}View Appoinments{% endblock %}
{% block content %}

{% if request.user.is_authenticated %}
<p>{{ request.user.first_name }} you are logged in.</p>
    
    {% if not False %}
    <h3>{{msg}}</h3>

    <p>You can make an appointment <a href="/">here</a></p>
    {% else %}
        hello world
    {% endif %}






{% else %}


<p>User is not logged in.</p>
<p>Don't have an account? Create account <a href="/register">here</a></p>
{% endif %}


{% endblock %}