{% extends 'main/base.html' %}

{% block title %}View Appoinments{% endblock%}
{% block pageHead %}View Appoinments{% endblock %}
{% block content %}

{% if request.user.is_authenticated %}
<p>{{ request.user.first_name }} you are logged in.</p>

    {% if request.user.is_staff == True %}
        <h1>Your Appoitment details.</h1>
        <br>

{% comment %}         
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Patient</th>
                <th scope="col">Doctor</th>
                <th scope="col">Start Time</th>
                <th scope="col">End Time</th>
                <th scope="col">Approved</th>
            </tr>
            </thead>
            <tbody>
                {% for a in a_list %}
                    
                        {% for u in u_list %}

                            <tr scope="row">
                                <td  >{{u.first_name}}</td>
                                <td>{{doctor}}</td>
                                <td>{{s_time}}</td>
                                <td>{{e_time}}</td>
                                <td>{% if status != False  %} Approved {% else %}Not Approved{% endif%}</td>
                            </tr>
                         {% endfor %}
            
            {% endfor %}

            </tbody>
        </table> {% endcomment %}





    {% else %}



        {% if not hp %}
        <h3>{{msg}}</h3>

        <p>You can make an appointment <a href="/">here</a></p>
        {% else %}
        <h1>Your Appoitment details.</h1>
            <br>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Doctor</th>
                <th scope="col">Start Time</th>
                <th scope="col">End Time</th>
                <th scope="col">Approved</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{doctor}}</td>
                <td scope="row">{{s_time}}</td>
                <td>{{e_time}}</td>
                <td>{% if status != False %} Approved {% else %}Not Approved{% endif%}</td>
            </tr>
            </tbody>
        </table>

        
        {% endif %}

    {% endif%}



{% else %}


<p>User is not logged in.</p>
<p>Don't have an account? Create account <a href="/register">here</a></p>
{% endif %}


{% endblock %}